sources:
  syslog:
    type: "file"
    include:
      - "/var/log/syslog"
    read_from: "beginning"
    data_dir: "/var/lib/vector"

sinks:
  clickhouse:
    type: "http"
    inputs: ["syslog"]
    uri: "http://localhost:8123/?query=INSERT+INTO+logs.system_logs(log_message)+FORMAT+TabSeparated"
    encoding:
      codec: "text"
